.map-button {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 20%;
    height: 25%;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(0, 181, 255);
    align-content: auto;
    align-self: auto;
    align-items: auto;
    flex-wrap: nowrap;
    overflow: visible;
    opacity: 1;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}
