.menu-button {
    flex-grow: 0;
    flex-direction: column;
    flex-shrink: 1;
    align-items: stretch;
    align-self: center;
    font-size: 0;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-size: 100% 100%;
    -unity-background-scale-mode: scale-and-crop;
    background-position-x: center 0;
    background-position-y: center 0;
    height: 25%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    opacity: 1;
    width: 100%;
}
