.menu-button {
    align-items: auto;
    justify-content: flex-end;
    align-self: stretch;
    margin-bottom: 5%;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: auto;
    flex-basis: 0;
    display: flex;
    visibility: visible;
    overflow: visible;
    opacity: 1;
    -unity-background-scale-mode: stretch-to-fill;
    font-size: 50px;
    padding-bottom: 15%;
    margin-right: 5%;
    -unity-text-align: middle-center;
    white-space: nowrap;
    -unity-font-style: bold;
    text-overflow: clip;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    -unity-background-image-tint-color: rgb(255, 255, 255);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 5%;
    margin-left: 5%;
    padding-top: 15%;
    padding-right: 15%;
    padding-left: 15%;
}
